<footer class="footer bg-primary text-center py-4" >
  <div class="container">
    <div class="row align-items-center opacity-85 text-white">
      <div class="col-sm-3 text-sm-start">
        <a href="/"
        ><img
        src="assets/img/tradeturn.png"
        alt="logo"
        style="width: 60px; height: 60px; border-radius: 50px"
        /></a>
      </div>
      <div class="col-sm-6 mt-3 mt-sm-0">
        <p class="lh-lg mb-0 fw-semi-bold">&copy; Copyright 2023 Tradeturn.</p>
      </div>
      <div class="col text-sm-end mt-3 mt-sm-0">
        <span class="fw-semi-bold">Designed by </span
        ><a class="text-white" href="" target="_blank"
          >Dekunle_jr</a
        >
      </div>
      <div class="col-12 d-flex justify-content-center">
  <ul class="list-unstyled d-flex gap-3  mt-sm-2">
    <li>
      <a class="text-decoration-none" href="https://t.me/tradersreturns" target="_blank">
        <span class="fab fa-telegram fa-2x text-white"></span>
      </a>
    </li>
    <li>
      <a class="text-decoration-none" href="#!" target="_blank">
        <span class="fab fa-twitter fa-2x text-white"></span>
      </a>
    </li>
    <li>
      <a class="text-decoration-none" href="#!" target="_blank">
        <span class="fab fa-facebook-f fa-2x text-white"></span>
      </a>
    </li>
  </ul>
</div>
</footer>
