<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="description" content="Trade Return">
    <meta name="keywords" content="crypto, forex, trading">

    <title><%= pageTitle %></title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/favicons/favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicons/favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicons/favicon.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicons/favicon.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <script src="vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/vendors/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/vendors/hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="/vendors/loaders.css/loaders.min.css" rel="stylesheet" />
    <link href="/assets/css/theme.min.css" rel="stylesheet" />
    <link href="/assets/css/user.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;family=Open+Sans:wght@300;400;600;700;800&amp;display=swap"
      rel="stylesheet"
    />
  </head>
