<select
  name="withdrawalType"
  id="withdrawalType"
  class="form-select my-2"
  required
>
  <option value="" disabled selected>Select Withdrawal Type</option>
  <option value="crypto">Crypto Wallet</option>
  <option value="bank">Bank Transfer</option>
</select>

<!-- Crypto Wallet Selection -->
<div id="cryptoSection" style="display: none">
  <select name="cryptoType" class="form-select my-2">
    <option value="" disabled selected>Select Wallet</option>
    <% for (const [crypto, address] of Object.entries(user.cryptoWallet)) { %>
    <% if (address) { %>
    <option value="<%= crypto %>"><%= crypto %> - <%= address %></option>
    <% } %> <% } %>
  </select>
</div>

<!-- Bank Transfer Section -->
<div id="bankSection" style="display: none">
  <input
    type="text"
    name="bankName"
    class="form-control my-2"
    placeholder="Bank Name"
  />
  <input
    type="number"
    name="accountNumber"
    class="form-control my-2"
    placeholder="Account Number"
  />
  <input
    type="text"
    name="accountHolder"
    class="form-control my-2"
    placeholder="Account Holder Name"
  />
</div>

<script>
  document
    .getElementById("withdrawalType")
    .addEventListener("change", function () {
      var cryptoSection = document.getElementById("cryptoSection");
      var bankSection = document.getElementById("bankSection");

      if (this.value === "crypto") {
        cryptoSection.style.display = "block";
        bankSection.style.display = "none";
      } else if (this.value === "bank") {
        cryptoSection.style.display = "none";
        bankSection.style.display = "block";
      } else {
        cryptoSection.style.display = "none";
        bankSection.style.display = "none";
      }
    });
</script>
