<%- include('includes/head.ejs') %>

<body>
  <%- include('includes/nav.ejs') %>
  <main class="d-flex flex-column min-vh-100">
    <section class="bg-white text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="error">Some error Occuried!</h1>
            <p>
              We are currently working on it, SO sorry for the inconvenience
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('includes/footer.ejs') %> <%- include('includes/end.ejs') %>
</body>
